TestTools.yml
app:
  description: Workflow
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: TestTools
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/wikipedia:0.0.3@63972698f033252b19a23a203f0beb6c3af16c6e8b0b886f001d902165a3da0c
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1757916114636-source-1757916122609-target
      source: '1757916114636'
      sourceHandle: source
      target: '1757916122609'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1757916122609-source-1757916170600-target
      source: '1757916122609'
      sourceHandle: source
      target: '1757916170600'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Query
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: Query
      height: 89
      id: '1757916114636'
      position:
        x: -64.32299994661929
        y: 287
      positionAbsolute:
        x: -64.32299994661929
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: key words for searching
            ja_JP: key words for searching
            pt_BR: key words for searching
            zh_Hans: 查询关键词
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: key words for searching, this should be in the language
            of "language" parameter
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The language of the Wikipedia to be searched
            ja_JP: The language of the Wikipedia to be searched
            pt_BR: The language of the Wikipedia to be searched
            zh_Hans: 要搜索的维基百科语言
          label:
            en_US: Language
            ja_JP: Language
            pt_BR: Language
            zh_Hans: 语言
          llm_description: language of the wikipedia to be searched, only "de" for
            German, "en" for English, "fr" for French, "hi" for Hindi, "ja" for Japanese,
            "ko" for Korean, "pl" for Polish, "pt" for Portuguese, "ro" for Romanian,
            "uk" for Ukrainian, "vi" for Vietnamese, and "zh" for Chinese are supported
          max: null
          min: null
          name: language
          options:
          - icon: ''
            label:
              en_US: German
              ja_JP: German
              pt_BR: German
              zh_Hans: 德语
            value: de
          - icon: ''
            label:
              en_US: English
              ja_JP: English
              pt_BR: English
              zh_Hans: 英语
            value: en
          - icon: ''
            label:
              en_US: French
              ja_JP: French
              pt_BR: French
              zh_Hans: 法语
            value: fr
          - icon: ''
            label:
              en_US: Hindi
              ja_JP: Hindi
              pt_BR: Hindi
              zh_Hans: 印地语
            value: hi
          - icon: ''
            label:
              en_US: Japanese
              ja_JP: Japanese
              pt_BR: Japanese
              zh_Hans: 日语
            value: ja
          - icon: ''
            label:
              en_US: Korean
              ja_JP: Korean
              pt_BR: Korean
              zh_Hans: 韩语
            value: ko
          - icon: ''
            label:
              en_US: Polish
              ja_JP: Polish
              pt_BR: Polish
              zh_Hans: 波兰语
            value: pl
          - icon: ''
            label:
              en_US: Portuguese
              ja_JP: Portuguese
              pt_BR: Portuguese
              zh_Hans: 葡萄牙语
            value: pt
          - icon: ''
            label:
              en_US: Romanian
              ja_JP: Romanian
              pt_BR: Romanian
              zh_Hans: 罗马尼亚语
            value: ro
          - icon: ''
            label:
              en_US: Ukrainian
              ja_JP: Ukrainian
              pt_BR: Ukrainian
              zh_Hans: 乌克兰语
            value: uk
          - icon: ''
            label:
              en_US: Vietnamese
              ja_JP: Vietnamese
              pt_BR: Vietnamese
              zh_Hans: 越南语
            value: vi
          - icon: ''
            label:
              en_US: Chinese
              ja_JP: Chinese
              pt_BR: Chinese
              zh_Hans: 中文
            value: zh
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          language: ''
          query: ''
        provider_id: langgenius/wikipedia/wikipedia
        provider_name: langgenius/wikipedia/wikipedia
        provider_type: builtin
        selected: false
        title: WikipediaSearch
        tool_configurations: {}
        tool_description: A tool for performing a Wikipedia search and extracting
          snippets and webpages.
        tool_label: WikipediaSearch
        tool_name: wikipedia_search
        tool_node_version: '2'
        tool_parameters:
          language:
            type: mixed
            value: English
          query:
            type: mixed
            value: '{{#1757916114636.Query#}}'
        type: tool
      height: 53
      id: '1757916122609'
      position:
        x: 270
        y: 287
      positionAbsolute:
        x: 270
        y: 287
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1757916122609'
          - text
          value_type: string
          variable: Research
        selected: false
        title: End
        type: end
      height: 89
      id: '1757916170600'
      position:
        x: 573
        y: 287
      positionAbsolute:
        x: 573
        y: 287
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -133.8425616297555
      y: 131.46391766700657
      zoom: 0.5958856178974161
